/** COMMON FOR ALL +++++++++++++++++++++++++++ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

body {
    background-color: rgb(36, 35, 35);    
}

header {
    background-color: white;
}

main {
    padding: 10px;
}

select {
    color:rgb(39, 108, 236);
    padding: 5px;
    width: 180px;
    float:right;
    margin: 5px;
    text-align: right;
}
/* HEADER +++++++++++++++++ */
h1 {
    background-color: black;
    color:whitesmoke;
    text-align: center;
    margin-bottom: 2%;
    font-family: Verdana;
    border-radius: 50px;
    transition-duration: 0.4s;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24),
    0 3px 5px 0 rgba(181, 75, 213, 0.19);

}

h1:hover {
    color: rgb(108, 108, 223);
}

a {
    text-decoration: none;
}

.gridContainerNav {      /*!Grid container for navigation */
    display: grid;
    grid-template-columns: 1, 1fr;
    margin: 0 auto;
    width: 90%;
}

#searchBlank {
    width: 60%;
}

#searchForm {
    margin: 0 auto;
}

#searchButton {
    border: none;
    color: rgb(21, 21, 21);
    background-color: rgba(178, 205, 239, 0.845);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
    margin-left: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
    0 5px 15px 0 rgba(181, 75, 213, 0.19);
}

#searchButton:hover {
    color: rgb(136, 44, 217);
    transform:scale(1.2);
    border: 1px solid rgb(102, 17, 240);
    background-color: whitesmoke;
}

#radioImputs {
    background-color: rgb(217, 217, 233);
    font-family: Tahoma;
    font-size: 18px;
    border-radius: 25%;
    text-align: center;
    margin-top: 15px;
    word-spacing: 10px;
    transition: 0.5s;
}

#radioImputs:hover {
    color: rgb(108, 108, 223);
    background-color: whitesmoke;
    border-radius: 20%;
}

/* FOOTER +++++++++++++++++ */
footer {
    text-align: center;
    font-family: Verdana;
    border-top: 1px solid black;
    width: 100%;
}
/** GENERALS +++++++++++++++++++++++++++++++++ */


/* CARDS +++++++++++++++++ */
#secCards {           /*Grid container for card section */
    display: grid;
    width: 90%;
    margin: 10px auto;
    padding-bottom: 10px;

    grid-template-columns: 1fr 1fr 1fr;    
    row-gap: 10px;

    border: 1px solid black;    
    background-color: rgba(0, 0, 0, 0.515);
    border-radius: 15px;

    justify-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

.divCard {
    margin: 20px;
    background-color: rgb(11, 3, 13);
    width: 80%;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5px;
}

.divCard p:not(:last-of-type) {
    padding-top: 10px;
}

.divCard p:first-of-type {
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
}

.divCard:hover {
    background-color: rgb(34, 17, 35);
    translate: 0px -10px;
    box-shadow: 0 7px 0px 5px black;
    transform: scale(1.1);
    transform:rotate(4deg);
}

.divCard img {
    max-width: 100%;
    border-radius: 5px;
}

.divCard p:last-of-type {
    color: rgb(214, 236, 17);
    padding-bottom: 10px;
    font-size: 0.8em;
}

/* REST +++++++++++++++++ */
#divBotones {    
    background-image: linear-gradient( rgb(36, 35, 35) ,white);
    text-align: center;
    height: 55px;    
}

#divBotones p {
    padding: 10px;
    font-size: 1.5em;
    display: inline;
}

#divBotones button {
    padding: 10px;
    width: 50px;    
    margin: 5px;
    box-shadow: 0 0 2px 1px black;
    cursor: pointer;
}